/* ******************* */
/* ***** GENERAL ***** */
/* ******************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    height: 100vh;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    padding-left: 15px;
}

/* ******************* */
/* ******* MAIN ****** */
/* ******************* */
main {
    background-color: lightyellow;
    background-image: linear-gradient(to bottom right, #8b8002, #080800);
    float: left;
    width: 100%;
    /* offset orizzontale per la sidebar che ha position:fixed, è la height di aside */
    padding-left: 210px;
    /* offset verticale per il footer che ha position:fixed, è la height del footer */
    padding-bottom: 90px;
}

#main-container {
    width: 72%;
    margin: 0 auto;
    padding: 10px;
}

nav {
    text-align: center;
    margin-bottom: 30px;
}

nav ul li {
    display: inline-block;
    padding: 15px 10px;
    list-style-type: none;
}

nav ul li a {
    font-size: 10px;
    font-weight: bold;
    color: #c8c3c3;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: white;
}

nav ul li:nth-child(1) span {
    border-bottom: 3px solid #20D560;
}

#navbar-hamburger {
    display: none;
    color: white;
    font-size: 28px;
    text-align: left;
    padding-top: 15px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.flex-row img {
    width: 100px;
    height: 100px;
}

.cover {
    padding: 15px;
}

.rounded {
    border-radius: 50%;
}

main p {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

/* ******************* */
/* ******* ASIDE ***** */
/* ******************* */
.white {
    color: white;
}

.gray {
    color: gray
}

aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: grey;
    background-color: #131200;
    float: left;
    width: 210px;
    height: 100vh;
    /* padding: 20px; */
    /* offset orizzontale per la sidebar che ha position:fixed, è la height di aside */
    padding-bottom: 90px;
    position: fixed;
    left: 0;
    top: 0;
}

aside ul li {
    padding: 5px 0;
    list-style-type: none;
}

aside ul li a {
    font-size: 11px;
    font-weight: bold;
    color: #c8c3c3;
    text-decoration: none;
}

aside ul li i {
    font-size: 18px;
    padding-right: 10px;
    font-weight: bold;
}

aside p {
    font-size: 10px;
    font-weight: bold;
}

aside h5 {
    text-transform: uppercase;
}

#logo {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 20px;
}

#logo h2 {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 22px;
}

#logo i {
    font-size: 30px;
}

#logo a {
    text-decoration: none;
}

#side-menu {
    padding-bottom: 20px;
}

#side-menu li:nth-child(2) {
    border-left: 5px solid #20D560;
    padding-left: 15px;
}

#side-menu li:not(:nth-child(2)), #played, #aside-bottom {
    padding-left: 20px;
}

#aside-bottom {
    padding-right: 20px;
}

#played p {
    padding-top: 15px;
}

#aside-bottom i {
    padding-right: 10px;
    font-size: 18px;
}

#user i {
    font-size: 26px;
}

#install a:hover, #install i:hover, #side-menu i:hover,
#side-menu a:hover {
    color: white;
}

#user, #install {
    padding: 10px 0;
    font-size: 11px;
    font-weight: bold;
}

#install {
    border-bottom: 1px solid gray;
}

/* ******************* */
/* ***** FOOTER ****** */
/* ******************* */
footer {
    display: flex;
    justify-content: space-between;
    color: lightgrey;
    background-color: #282828;
    height: 90px;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* #footer-left img, #footer-left div, #footer-left i {
    display: inline-block;
} */
#footer-left img {
    width: 50px;
    height: 50px;
    align-self: center;
}

#footer-left div, #footer-left i {
    margin-left: 15px;
    align-self: center;
}

#footer-left p a {
    font-size: 10px;
    color: gray;
    text-decoration: none;
}

#footer-left p a:hover {
    text-decoration: underline;
}

#footer-left p:nth-child(1) a,
#footer-left p:nth-child(2) a:hover {
    color: white;
}

#footer-left p:nth-child(1) a {
    font-weight: bold;
}

#footer-center {}

#footer-right {}

/* ************************************************* */
/* ***************** MEDIA QUERY ******************* */
/* ************************************************* */
/* TABLET */
/* da 992px in giù */
@media screen and (max-width: 992px) {

    /* menu inline scompare e appare hamburger */
    #navbar-hamburger {
        display: block;
    }

    #navbar-inline {
        display: none;
    }

    /* il contenuto del main non è più spaziato sui lati */
    #main-container {
        width: 95%;
        margin: 0 auto;
    }

    /* nel footer, in basso a sinistra scompaiono i testi accanto all'immagine */
}

/* MOBILE */
/* da 767px in giù */
@media screen and (max-width: 767px) {

    /* nella sidebar scompaiono i testi, rimangono solo icone */
    #logo h2, #side-menu span, #played, #aside-bottom span {
        display: none;
    }

    /* altezza del footer sembra maggiore? */
    /* la width della sidebar diminuisce */
    aside {
        width: 72px;
    }

    main {
        /* offset per la sidebar che ha position:fixed */
        padding-left: 72px;
    }

    /* nel footer scompare tutta la parte in fondo a destra (barra volume) */
    /* ???nel footer la barra di avanzamento manca di minuti finali e icona repeat??? */
}