/* ******************* */
/* ***** GENERAL ***** */
/* ******************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    height: 100vh;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 30px;
    padding-left: 15px;
}

p {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

/* ******************* */
/* ******* MAIN ****** */
/* ******************* */
main {
    background-color: lightyellow;
    background-image: linear-gradient(to bottom right, #8b8002, #080800);
    float: left;
    width: 100%;
    /* offset per la sidebar che ha position:fixed, è la height di aside */
    padding-left: 210px;
    /* offset per il footer che ha position:fixed, è la height del footer */
    padding-bottom: 90px;
}

#main-container {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

nav {
    text-align: center;
    margin-bottom: 30px;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    list-style-type: none;
}

nav ul li a {
    font-size: 10px;
    font-weight: bold;
    color: #c8c3c3;
    text-decoration: none;
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.flex-row img {
    width: 120px;
    height: 120px;
}

.cover {
    padding: 15px;
}

/* ******************* */
/* ******* ASIDE ***** */
/* ******************* */
aside {
    background-color: lightblue;
    float: left;
    width: 210px;
    height: 100vh;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

/* ******************* */
/* ***** FOOTER ****** */
/* ******************* */
footer {
    background-color: pink;
    height: 90px;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* ************************************************* */
/* ***************** MEDIA QUERY ******************* */
/* ************************************************* */
/* TABLET */
/* da 992px in giù */
@media screen and (max-width: 992px) {
    /* menu inline scompare e appare hamburger */
    /* nel footer, in basso a sinistra scompaiono i testi accanto all'immagine */
}

/* MOBILE */
/* da 767px in giù */
@media screen and (max-width: 767px) {

    /* nella sidebar scompaiono testi, rimangono solo icone */
    /* altezza del footer sembra maggiore? */
    /* la width della sidebar diminuisce */
    aside {
        width: 100px;
    }

    main {
        /* offset per la sidebar che ha position:fixed */
        padding-left: 100px;
    }

    /* il contenuto del main non è più spaziato sui lati */
    #main-container {
        width: 95%;
        margin: 0 auto;
    }

    /* nel footer scompare tutta la parte in fondo a destra (barra volume) */
    /* ???nel footer la barra di avanzamento manca di minuti finali e icona repeat??? */
}